body {
    background: blue;
    font-family: fantasy;
    text-align: center;
}

h1,
h2 {
    color: deepskyblue;
}

.tengah {
    margin: 10px auto;
    width: 1200px;
}

.kotak1 {
    background: lightblue;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
}

.kotak2 {
    background: lightblue;
    padding: 20px;
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    -ms-transform: translate(50px, 100px);
    -webkit-transform: translate(50px, 100px);
    transform: translate(50px, 100px);
}